:root {
   --parrom: #552200;
   --pamarelo: #fdb963;
   --peige: #fae2c2;
   --pazul: #8fb1bd;
}

* {
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-size: 62.5%;
   font-family: Arial, Helvetica, sans-serif;
}

/* 
   100% => 16px
   62.5% => 10px

   rem != px
   1rem = 16px ---> 100%
   1rem = 10px --> 62.5% 
*/

#root {
   margin-top: 10rem;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 3rem;
}

article {
   background-color: var(--peige);
   width: 24rem; /*--> 240px*/
   padding: 5rem 0;
   border-radius: .5rem;
   box-shadow: 0 .2rem .8rem #00000060;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   transition: all .2s;

   &:hover {
      transform: scale(1.02);
      box-shadow: 0 .3rem .8rem #00000070;
   }
   
   & h2 {
      font-size: 3rem;
      text-transform: capitalize;
      color: var(--parrom);
      text-align: center;
   }

   & img {
      align-self: center;
      height: 8rem;
   }

   & div {
      display: flex;
      justify-content: center;
      font-size: 2.8rem;
      gap: 1rem;
      
      & .type {
         background-color: var(--pazul);
         padding: .3rem .7rem;
         border-radius: .5rem;
         text-transform: uppercase;
      }
   }
}


